{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
	<nav class="navbar fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="">VDN</a>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<form>
							<div class="form-group row">
								<label for="deliveryMan" class="col-sm-3 col-form-label">
									Livreur
								</label>
								<div class="col-sm-9">
									<select name="deliveryManId" id="deliveryMan" class="form-control">
										{% for deliveryMan in deliveryMen %}
											<option value="{{ deliveryMan.getId() }}"{% if selectedDeliveryMan == deliveryMan %} selected{% endif %}>
												{{ deliveryMan.getName() }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9">
									<button type="submit" class="btn btn-outline-dark">
										Rechercher
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			{% if selectedDeliveryMan %}
				<div class="col-sm-12">
					<form>
						<div class="row">
							<div class="col-sm-12 mt-4">
								<div class="card">
									{% if selectedDeliveryMan.getCustomers()|length > 0 %}
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>#</th>
													<th>Nom</th>
													<th>Adresse</th>
													<th>Abonnements</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												{% for customer in selectedDeliveryMan.getCustomers() %}
													<tr>
														<td>
															<input type="checkbox" name="selectedCustomers[{{ customer.getId() }}]">
														</td>
														<td>{{ customer.getId() }}</td>
														<td>{{ customer.getName() }}</td>
														<td>
															{{ customer.getAddress() }}
															<small>
																{% if customer.getSuburb() %}
																	<br>
																	{{ customer.getSuburb() }}
																{% endif %}
																<br>
																{{ customer.getZipcode() }}
																{{ customer.getCity() }}
															</small>
														</td>
														<td>
															{% for subscription in customer.getSubscriptions() %}
																<div>
																	&middot; {{ subscription.getProduct().getDesignation() }}
																	{% set days = subscription.getDays() ? subscription.getDays() : subscription.getProduct().getDays() %}

																	<small class="text-muted">
																		{% if days|length == 7 %}
																			Tous les jours
																		{% else %}
																			{% for day in days %}
																			    {{ formatedDays[day] }}{% if not loop.last %},{% endif %}
																			{% endfor %}
																		{% endif %}
																	</small>
																</div>
															{% endfor %}
														</td>
														<td>
															<div class="dropdown dropleft">
																<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															    	Actions
															    </button>
															    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
															    	<a class="dropdown-item" href="{{ path('customer_subscription', {customerId: customer.getId()}) }}">
															    		Modifier
															    	</a>
															    	{% if false %}
																    	<a class="dropdown-item" href="#">
																    		Supprimer
																    	</a>
															    	{% endif %}
															    </div>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									{% else %}
										<div class="card-body">
											Aucun client
										</div>
									{% endif %}
								</div>
							</div>

							<div class="col-sm-12">
								<div class="card mt-4">
									<div class="card-body">
										<div class="form-group row">
											<label for="month" class="col-sm-3 col-form-label">
												Mois
											</label>
											<div class="col-sm-9">
												<select name="month" id="month" class="form-control">
													{% for key, month in months %}
													    <option value="{{ key+1 }}"{% if key == currentMonth %} selected{% endif %}>
													    	{{ month }}
													    </option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="year" class="col-sm-3 col-form-label">
												Année
											</label>
											<div class="col-sm-9">
												<select name="year" id="year" class="form-control">
													{% for key, year in years %}
													    <option value="{{ year }}"{% if year == currentYear %} selected{% endif %}>
													    	{{ year }}
													    </option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-3"></div>
											<div class="col-sm-9">
												<input type="hidden" name="deliveryManId" value="{{ selectedDeliveryMan.getId() }}">
												<button type="submit" class="btn btn-outline-dark">
													Générer
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
