<style>
	.text-right {
		text-align: right;
	}

	table {
		width: 100%;
	}

	.customer {
		margin-top: 20mm;
		margin-left: 100mm;
	}

	.title {
		margin-top: 30mm;
	}

	.products {
		margin-top: 20mm;
		border-collapse: collapse;
	}

	.products th,
	.products td {
		padding: 2mm 4mm;
		border: solid 1px #ddd;
	}

	.products th {
		background: #eee;
	}

	.products td.no-border {
		border-left: none;
		border-bottom: none;
	}

	.products th {
		text-align: center;
	}

	.products td.designation {
		width: 40%;
	}

	.products td.designation .details {
		color: #999;
		font-size: 10px;
	}

	.products td.quantity,
	.products td.price {
		width: 15%;
		text-align: center;
	}

	.products td.total-price {
		width: 30%;
		text-align: right;
	}

	.total {
		border-right: none;
	}

	.delivery-man {
		padding-left: 8mm;
	}

	.footer {
		font-size: 11px;
	}

	.footer .left {
		width: 70%;
	}

	.footer .right {
		text-align: right;
		width: 30%;
	}
</style>

<page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm">
    <page_header>
    </page_header>

    <page_footer>
    	<table class="footer">
    		<tr>
    			<td class="left">
    				* Dont TVA (2,10%) réglée par l'éditeur (art 298 undecies du CGI)
    				<br>
    				&nbsp;&nbsp;&nbsp;Règlement sans escompte à réception
    			</td>
    			<td class="right">
    				C.C.P 2042172X026
    			</td>
    		</tr>
    	</table>
    </page_footer>

	<div class="company">
		{{ deliveryMan.getCompany().name }}
		<br>
		{{ deliveryMan.getCompany().address }}
		{% if deliveryMan.getCompany().suburb %}
			<br>
			{{ deliveryMan.getCompany().suburb }}
		{% endif %}
		<br>
		{{ deliveryMan.getCompany().zipcode }} {{ deliveryMan.getCompany().city }}
	</div>

	<div class="customer">
		{{ purchase.customer.name }}
		<br>
		{{ purchase.customer.address }}
		{% if purchase.customer.suburb %}
			<br>
			{{ purchase.customer.suburb }}
		{% endif %}
		<br>
		{{ purchase.customer.zipcode }} {{ purchase.customer.city }}
	</div>

	<h2 class="title">
		Facturation pour le mois {{ purchase.formatedDate }}
	</h2>

	<table class="products">
		<tr>
			<th class="designation">
				Désignation
			</th>
			<th class="quantity">
				Quantité
			</th>
			<th class="price">
				Prix unitaire
			</th>
			<th class="total-price" colspan="2">
				Prix
			</th>
		</tr>

		{% for product in purchase.products %}
		    <tr>
				<td class="designation">
					{{ product.designation }}
					<br>
					<span class="details">
						{% for day, count in product.countByDays %}
						    {{ count }}&nbsp;{{ day }}{{ count > 1 ? 's' : '' }}{% if not loop.last %},{% endif %}
						{% endfor %}
					</span>
				</td>
				<td class="quantity">
					{{ product.quantity }}
				</td>
				<td class="price">
					{{ product.formatedPrice }}
				</td>
				<td class="total-price" colspan="2">
					{{ product.totalFormatedPrice }}
				</td>
		    </tr>
		{% endfor %}

		<tr>
			<td colspan="3" class="no-border"></td>
			<td class="total">
				Total *
			</td>
			<td class="text-right">
				{{ purchase.total }}
			</td>
		</tr>
	</table>

	<br><br><br><br>

	<p>
		Les chèques sont à établir à l'ordre de
		et à envoyer ou déposer avant le {{ purchase.formatedLimitPaymentDate }} à:
		<br>
		<br>
		<div class="delivery-man">
			{{ deliveryMan.name }}
			<br>
			{{ deliveryMan.address }}
			<br>
			{{ deliveryMan.zipcode }}
			{{ deliveryMan.city }}
			<br>
			03 20 74 38 59
		</div>
		<br>
		<br>
		Merci.
	</p>
 </page>